<section class="bg-[#454545] w-full xl:py-5 xl:px-16 flex justify-center">
  <div class="px-3 mx-auto xl:max-w-6xl">
    <div class="bg-black xl:w-11/12 px-4 py-5 rounded-xl flex flex-col gap-3">
      <span class="text-xl xl:text-3xl text-[#ffc700] font-bold font-['Oswald']"
        >Prêmio em destaque</span
      >
      <img
        src="https://fpp-assets.playservicos.com.br/bpp/PIXDOMILHAO/imagem/1080x731_principal-1733702871355.webp"
        alt="Prêmios"
        class="rounded-xl mx-auto"
      />
      <p class="text-white text-xs xl:text-lg font-bold font-['Oswald']">
        SORTEIO DIA 13/12/2024
      </p>
      <span class="text-white text-xs xl:text-2xl font-bold font-['Oswald']"
        >VOCÊ PODE SER O PRÓXIMO GANHADOR! - 1 MILHÃO DE REAIS + 1.000 BILHETES
        PREMIADOS</span
      >
      <p class="text-white text-[10px] xl:text-sm">
        COMPRE UM E-BOOK E GARANTA A SUA PARTICIPAÇÃO!
      </p>
      <div class="flex justify-center">
        <button
          class="bg-button-buy-gradient w-full xl:w-[800px] h-16 rounded-[300px] xl:text-2xl font-bold text-white hover:text-black"
        >
          COMPRAR
        </button>
      </div>
    </div>
  </div>
</section>
