<nav class="bg-custom-gradient">
  <div>
    <ul role="menubar" class="list-none flex justify-center py-7">
      <li>
        <a
          href=""
          class="text-base font-medium px-4 py-2 text-white hover:text-[#fac938] hover:border-b-2 border-yellow-400"
          >Início</a
        >
      </li>
      <li>
        <a
          href=""
          class="text-base font-medium px-4 py-2 text-white hover:text-[#fac938] hover:border-b-2 border-yellow-400"
          >Ganhadores</a
        >
      </li>
      <li>
        <a
          href=""
          class="text-base font-medium px-4 py-2 text-white hover:text-[#fac938] hover:border-b-2 border-yellow-400"
          >Quem Somos</a
        >
      </li>
      <li>
        <a
          href=""
          class="text-base font-medium px-4 py-2 text-white hover:text-[#fac938] hover:border-b-2 border-yellow-400"
          >Fale Conosco</a
        >
      </li>
      <li>
        <a
          href=""
          class="text-base font-medium px-4 py-2 text-white hover:text-[#fac938] hover:border-b-2 border-yellow-400"
          >Edições Anteriores</a
        >
      </li>
      <li>
        <a
          href=""
          class="text-base font-medium px-4 py-2 text-white hover:text-[#fac938] hover:border-b-2 border-yellow-400"
          >Meus Números</a
        >
      </li>
    </ul>
  </div>
</nav>
